.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Auth-form {
    max-width: 300px; 
    width: 100%;
  }

  .Auth-frame {
    border: 1px solid #ccc; /* Stilul și culoarea cadrului */
    padding: 100px; /* Spațiul interior al cadrului */
    border-radius: 10px; /* Baza cadrului */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Umbra cadrului */
  }


  